<form action="/cars" method="post">
  <h3>Add a new car</h3>
  <label for="makeModel">Model of a car</label>
  <input id="makeModel" name="makeModel" type="text"><br>

  <label for="miles">Add miles</label>
  <input id="miles" name="miles" type="number" min="0"><br>

  <label for="price">Add price</label>
  <input id="price" name="price" type="number" min="0"><br>
  
  <button type="submit">Submit</button>
</form>